<ion-content>
  <div class="customContenedor">
    <ion-img class="customFondo blink-1 " src="../../assets/images/nombre.jpg"></ion-img>
    <ion-img class="customFondoDos bounce-out-bottom " src="../../assets/images/apellido.jpg"></ion-img>
    <ion-img class="customFondoCuatro bounce-out-top" src="../../assets/images/iconoCredito.png"></ion-img>
    <div class="bottomContainer"> 
      <ion-img class="customFondoTres blink-1 " src="../../assets/images/clase.jpg"></ion-img>
    </div>
  </div>
</ion-content>